<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GeoBroker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h2>Server up and running.</h2>

    <p>
        This server provides a REST endpoint for position updates. This welcome page only indicates a running server.
    </p>

    <p>
        The API is described <a href="api/v1/doc/index.html?url=../geobroker.yaml">here</a>.
    </p>

    <p th:text="'Current version: ' + ${version}"></p>
</div>
</body>
</html>
