<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <File name="file_geobroker" fileName="geobroker.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1.} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="at.wrk.fmd.geobroker" level="debug" />

        <Logger name="at.wrk.fmd.geobroker.repository" level="trace" />

        <Root level="info">
            <AppenderRef ref="file_geobroker"/>
        </Root>
    </Loggers>
</Configuration>
